/* .grid-welcome,
.grid-menu {
  img {
    min-height: 100%;
    height: 555px;
    width: 100%;
  }
} */

.img-w-full {
  img {
    width: 100% !important;
  }
}

/* .gallery-button {
  width: 157px;
} */
