footer {
  margin-top: 20px;
  .marquee-container {
    display: flex;
    overflow: hidden;
    p {
      margin-block: 0 !important;
      white-space: nowrap;
      animation: marquee-scroll 10s linear infinite;
    }
  }
  .custom-logo-link {
    transition: all 0.3s;
    &:hover {
      filter: drop-shadow(0px 0px 10px var(--wp--preset--color--gray-100));
    }
  }
  .social-links {
    a {
      transition: all 0.3s;
      &:hover {
        filter: drop-shadow(0px 0px 10px var(--wp--preset--color--gray-100));
      }
    }
  }
  .store-map {
    transition: all 0.3s;
    &:has(.loaded) {
      box-shadow: var(--wp--preset--shadow--natural);
    }
  }
}
@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
