footer {
  margin-top: 20px;
  .marquee-container {
    display: flex;
    overflow: hidden;
    p {
      margin-block: 0 !important;
      white-space: nowrap;
      animation: marquee-scroll 10s linear infinite;
    }
  }
}
@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
